<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Imprimir Aviso de Deuda</title>
  <link rel="stylesheet" href="/css/c9/avisoDeuda.css">
</head>

<body>
  <div id="elemento">
    <div class="container">
      <div id="encabezado">
        <h1 id="titulo">LPP Concesionaria de Autos</h1>
        <img src="/img/logo.png" alt="logo" height="100px">
        <img src="/img/logoLPP.png" alt="logo" height="100px">
      </div>
      <ol>
        <div>
          <div id="otroElemento">AVISO DE DEUDA</div>
          <div>REFIERE AL PRÉSTAMO</div>
          NRO.: <br><b>
            <%=data.codPRE%>
          </b><br><br>
          Fecha de emisión <br>
          <%=data.fecha%><br>

            <div>
              <p>
                Este documento hace constancia que el cliente: <b>
                  <%=data.cliente%>
                </b>
                (Documento: <%=data.labelDoc%>) debe al día de la fecha (<span>
                    <%=data.fecha%>
                  </span>)
                  un total de <%=data.cant%> cuotas sumando como precio base $<%=data.subTotal%>
                      que sumando el porcentaje <%=data.interes%>% de interés del préstamo
                        hacen un total de $<%=data.montoTotal%> pesos.
              </p>
            </div>
            <div>
              Se comunica que si el cliente suma un total de 6 (SEIS) cuotas sin abonar, será declarado como
              MOROSO
              y
              judicializado.
            </div>
            <div>
              Por favor diríjase a la concesionaria LPP para poder concretar el pago.
            </div>
        </div>
      </ol>
    </div><br><br>
  </div>
  <div class="botones" style="text-align: center;">
    <button id="printButton" class=" btn btn-danger btn-lg btn">Imprimir o Descargar</button>
    <a id="finalizar" href="/c9" class="btn btn-danger btn-lg btn">Finalizar Operación</a>
  </div>
  <style>
    #elemento {
      width: 210mm !important;
      margin-top: 80px !important;
      height: 297mm !important;
      background: white !important;
      border-radius: 5px !important;
      border: 0px !important;
      font-size: 20px !important;
      padding-left: 0 !important
    }


    #printButton,
    #finalizar {
      opacity: 1 !important;
      border: 2px solid black !important;
      padding: 20px;
      text-align: center !important;
      margin: 40px !important;
      border: 2px solid black !important;
      border-radius: 5px;
      background-color: black;
      color: white !important;
      font-size: 20px !important;
      font-family: sans-serif !important;
      text-decoration: none !important;
      cursor: pointer !important;
    }

    #logo {
      display: block;
      text-align: center;
      width: 150px;
      margin: 20px auto;
      margin-left: 20px !important;
    }

    img {
      margin-left: 20px !important;
    }

    #titulo {
      text-align: center;
      margin-top: 0px;
      margin-bottom: -20px;
      font-family: calibri, monospace;
      font-size: 22px !important;
      font-weight: bold !important;
    }

    @page {
      size: A4;
    }

    body {
      background-color: #e0e0e0 !important;
    }

    #otroElemento {
      padding: 0px !important;
    }
  </style>
  <script>
    function printOrDownload() {
      window.print();
    }
    document.getElementById('printButton').addEventListener('click', printOrDownload);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>