<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Documento</title>
  <link rel="stylesheet" href="/css/c9/informeMoroso.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Activa el dark mode-->
  <%- include('../../partials/head') %>
</head>

<body>
  <%- include('../../partials/navigation') %>
    <% if (typeof msg !=='undefined' ) { %>
      <script>
        alert('<%= msg %>');
      </script>
      <% } %>
        <header>
          <header>
            <div id="encabezado">
              <h1 id="titulo">LPP Concesionaria de Autos</h1>
              <img src="/img/logo.png" alt="logo" height="100px">
              <img src="/img/logoLPP.png" alt="logo" height="100px">
            </div>
          </header>

          <div id="elemento">
            <ol>
              <div>
                <div>Informe de Moroso.</div>
                NRO.: <br>
                <%=data.codMOR%><br><br>
                  <div>Refiere al préstamo</div>
                  NRO.: <br>
                  <%=data.codPRE%><br><br>
                    Fecha: <br>
                    <%=data.fecha%><br><br>
                      <div> Hacemos constancia a través de este informe de que el CLIENTE: <%=data.labelCliente%> cuyo
                          documento es <%=data.labelDoc%> adeuda <%=data.cant%> cuotas del préstamo,
                              sumando un total de
                              $ <%=data.montoDeuda%> adeudados. Esto corresponde a la compra del automóvil
                                <%=data.labelAuto%>.Por este motivo se lo ha declarado como un cliente
                                  moroso. Se iniciarán las acciones de judicialización en la brevedad.
                      </div>
              </div>
            </ol>
          </div>
          <br><br>
          <div style="text-align: center;">
            <button id="printButton" class="btn-warning btn-lg btn">Imprimir o Descargar</button>
            <a href="/c9" class="btn btn-success btn-lg ">Finalizar Operacion</a>
          </div>
          <script>
            function printOrDownload() {
              window.print();
            }
            document.getElementById('printButton').addEventListener('click', printOrDownload);
          </script>
          <!-- Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>