<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Recibo de Cuota</title>
  <link rel="stylesheet" href="/css/c9/reciboCuota.css">
</head>

<body>
  <header>
    <div id="encabezado">
      <h1 id="titulo">LPP Concesionaria de Autos</h1>
    </div>
  </header>
  <div id="elemento">
    <ol>
      <div>
        <div class="param-data">Refiere a la órden de compra N°:</div>
        <div class="param-value">
          <%= data.codODC %>
        </div>
        <br>
        <div class="param-data">Fecha de emisión:</div>
        <div class="param-value">
          <%= data.femision %>
        </div>
        <br>
        <div class="param-data">He recibido del cliente:</div>
        <div class="param-value">
          <%= data.labelCliente %><br>
            <%= data.labelDoc %>
        </div>
        <br>
        <div class="param-data">Detalle</div>
        <div class="param-value">
          En concepto del pago de la cuota: <b>
            <%= data.nroCuota %>/<%=data.cantCuotas%>
          </b> del préstamo <b>
            <%= data.codPRE %>
          </b> por el cual el cliente
          compró por préstamo prendario un
          automóvil 0KM Marca <b>
            <%= data.marca %>
          </b> Modelo <b>
            <%= data.modelo %>
          </b> Matrícula <b>
            <%= data.matricula %>
          </b>
        </div>
      </div>
      <div>
        <div class="param-data">Precio base de la cuota:</div>
        <div class="param-value">
          $<%= data.precioBase %>
        </div>
        <br>
        <div class="param-data">Interés por mes vencido (%):</div>
        <div class="param-value">
          <%= data.interes %> %
        </div>
        <br>
        <div class="param-data">Meses de atraso con respecto al vencimiento del pago de la cuota:</div>
        <div class="param-value">
          <%= data.mesesVto %>
        </div>
        <br>
        <div class="param-data">Precio Final de la cuota:</div>
        <div class="param-value">
          $<%= data.precioFinal %>
        </div>
      </div>
    </ol>
  </div>
  <div style="text-align: center;">
    <button id="printButton" class="btn-warning btn-lg btn" onclick="printOrDownload()">Imprimir o Descargar</button>
    <a href="/c9" class="btn-warning btn-lg btn">Finalizar Operacion</a>
  </div>
  <style>
    .btn-warning, .btn-success {
    background-color: black !important;
    padding: 50px 0 !important;
    color: white !important;
    border-radius: 10px !important;
    margin: 10px !important;
    width: 300px !important;
}
    .btn-danger {
    width: 300px;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
    padding: 20px !important;
    opacity: 1 !important;
    background-color: black !important;
    color: white;
    font-size: 18px;
}
.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    .btn-danger {
                width: 300px;
                margin: 0 auto;
                border: 0;
                border-radius: 10px;
                padding: 20px;
                opacity: 1 !important;
                background-color: black !important;
                color: white;
                font-size: 18px;
            }


            .btn-danger:hover {
                background-color: white !important;
                color: black !important;
            }

            .btn-danger:active {
                background-color: white !important;
                color: black !important;
            }

            .btn-dark {
                font-size: 15px !important;
                color: white !important
            }

            button[class=btn-dark] {
                background-color: black !important;
                font-size: 16px !important;
            }

    .prestamo,
    b {
      font-weight: bold !important;
      color: black !important;
      width: 100% !important;
      margin: 0 auto !important;
    }

    .col-xl-6 {
      margin: 0 auto !important;
      width: 70% !important;
    }


    .add-button {
      background-color: black !important;
    }

    a, button {
      background-color: black !important;
    }

    #encabezado {
      background-color: black !important;
      color: white !important;
      position: relative !important;
      width: 100% !important;
      margin-bottom: 20px !important;
    }

    h1 {
      color: white !important;
    }

    .botones {
      margin: 0 auto !important;
      text-align: center !important;
    }

    #chosenCuota {
      margin: 0 auto !important;
      padding: 30px;
      width: 400px !important;
      height: 100px !important;
      color: white;
      font-size: 24px !important;
    }

    .titulos {
      margin: 0 auto !important;
    }

    h2 {
      text-align: center !important;
      width: 100% !important;
    }

    #footer {
      background-color: rgba(33, 37, 41, 1) !important;
      padding: 50px !important;
      text-align: center;
      font-family: sans-serif !important;
      clear: both !important;
      /* Limpia ambos lados, asegurando que el footer esté debajo de otros elementos */
      text-align: center !important;
      /* Centra el contenido del footer */
      /* Agrega espacio alrededor del contenido del footer */
      background-color: rgba(33, 37, 41, 1);
      color: white;
      position: relative !important;
    }

    #elemento {
      background: linear-gradient(rgb(231, 39, 39), rgb(75, 75, 228)) !important;
      border-radius: 10px !important;
      width: 600px !important;
      border: 0 !important;
      margin: 10px auto !important;
    }

    .param-value {
      text-align: center !important;
      color: black !important;
      font-size: 18px !important;
      font-weight: bold !important;
    }
    .param-data {
      background-color: white !important;
      border-radius: 5px !important;
      text-align: center !important;
      border: 0 !important;
      font-weight: bold !important;
    }

    b {
      color: black !important;
    }

    .btn-warning, .btn-success {
      background-color: black !important;
      padding: 10px !important;
      color: white !important;
    }


    ol {
      padding-left: 0 !important;
      margin: 0 auto !important;
    }

    #pago {
      background: none !important;
      border: none !important;
      border-radius: 0 !important;
      box-shadow: none !important;
    }

    table[id="tabla-original"] {
      border: solid black 5px !important;
      border-radius: 10px !important;
      width: 450px !important;
    }

    .survey-form {
      display: block !important;
      margin: 50px auto 70px !important;
      font-family: sans-serif !important;
      color: white !important;
      background: linear-gradient(rgb(0, 0, 0), rgb(243, 33, 33)) !important;
      opacity: 0.8 !important;
      border-radius: 20px;
      border: 0;
    }

    input[type="text"],
    input[type="email"] {
      margin-top: -5px !important;
      display: block;
      width: 200px !important;
      margin: 0 auto 30px !important;
      border: 0;
      height: 25px;
      border-radius: 5px !important;
      text-align: center !important;
    }

    select[id="tipo-documento"] {
      width: 200px !important;
      margin-top: -5px !important;
      display: block;
      margin: 0 auto 30px !important;
      border: 0;
      height: 25px;
      border-radius: 5px !important;
      text-align: center !important;
    }


    .navbar {
      z-index: 100;
    }


    h2 {
      width: 60%;
      font-size: 24px !important;
      font-family: sans-serif !important;
      margin: 30px auto 20px !important;
      font-weight: bold !important;
      color: black !important;
    }

    .add-button {
      border: 0;
      border-radius: 5px;
      margin: 5px;

    }

    .add-button:hover {
      background-color: white !important;
      color: black !important;
    }

    .data-display {
      background: linear-gradient(rgb(0, 0, 0), rgb(243, 33, 33)) !important;
      padding: 30px;
      border-radius: 10px !important;
    }

    .add-button:hover {
      background-color: black;
      color: white;
    }

    .side-section {
      margin-top: 50px !important;
    }

    td {
      color: black;
    }

    tr {
      margin: 10px !important;
      border: solid 2px black;
    }

    table {
      margin-top: 20px !important;
      margin: 0 auto !important;
    }

    .text-light {
      font-weight: bold !important;
      margin-bottom: 50px !important;
      color: black !important;
    }

    #principal-description {
      color: white !important;
      text-align: center !important;
      margin: 20px;
      font-family: sans-serif !important;
    }

    label,
    #description {
      color: white !important;
      font-family: sans-serif !important;
    }


    html {
      width: 100% !important;
    }

    body {
      font-family: sans-serif !important;
      background: linear-gradient(#e0e0e0, gray, #f0f0f0);
      margin: 0 !important;
      padding: 0 !important;
      position: relative !important;
    }

    h1 {
      color: black;
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
      font-family: sans-serif !important;
    }

    .container-fluid {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }

    .container-fluid {
      width: 100% !important;
    }


    .btn-danger,
    #submit {
      width: 300px;
      margin: 30px auto;
      border: 0;
      border-radius: 10px;
      padding: 20px;
      opacity: 1 !important;
      background-color: black !important;
      color: white;
      font-size: 18px;
      text-decoration: none !important;
    }

    .payment-methods {
      margin-bottom: 20px;
    }

    .btn-danger:hover,
    #submit:hover {
      transition: none;
      transform: none;
      padding: 20px !important;
      background-color: white !important;
      color: black !important;
    }

    .btn-danger:active {
      background-color: white !important;
      color: black !important;
    }

    .btn-dark {
      font-size: 15px !important;
      color: white !important
    }

    button[class=btn-dark] {
      background-color: black !important;
      font-size: 16px !important;
    }

    /* Responsiveness */

    .bg-pan-left {
      -webkit-animation: bg-pan-left 8s both;
      animation: bg-pan-left 8s both
    }

    /* ----------------------------------------------
* Generated by Animista on 2023-9-8 19:42:4
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

    @-webkit-keyframes bg-pan-left {
      0% {
        background-position: 100% 50%
      }

      100% {
        background-position: 0 50%
      }
    }

    @keyframes bg-pan-left {
      0% {
        background-position: 100% 50%
      }

      100% {
        background-position: 0 50%
      }
    }

    @media (max-width: 576px) {
      .survey-form {
        width: 100%;
      }
    }
  </style>
  <script>
    function printOrDownload() {
      window.print();
    }
    document.getElementById('printButton').addEventListener('click', printOrDownload);
  </script>
</body>

</html>