<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mi sitio web de autos</title>
  <link rel="shortcut icon" href="/icon.png" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <style>
    .btn-danger {
      background-color: black !important;
      color: white !important;
      border: 0 !important;
      padding: 10px !important;
      border-radius: 5px !important;

    }

    .btn-danger:hover {
      background-color: white !important;
      color: black !important;
    }

    .containerFactura {
      background-color: white !important;
    }

    body {
      background-color: #e0e0e0 !important;
    }

    @media only screen and (min-width: 360px) and (max-width: 768px) {

      .containerFactura {
        width: 95%;
      }
    }

    @media only screen and (min-width: 800px) and (max-width: 2000px) {

      .containerFactura {
        width: 65%;

      }
    }

    .containerFactura {
      background-color: aliceblue;
      color: black;
      padding: 10px 20px;

    }

    .containerFactura .row {
      border: #202020e8 1px solid;

    }

    .row .col-1 h5 {
      writing-mode: vertical-rl;
      text-orientation: upright;
      border: #000000e8 1px solid;
      padding: 10px;
    }
  </style>

  <!-- Contenido principal -->
  <div class="container-fluid h-75 " style="height: calc(100vh); padding: 40px;">

    <div class="containerFactura    mx-auto">

      <div class="row h-100">
        <div class="col-6 col-sm-4 p-1 m-0  col-xl-2">
          <div style="display: flex;">
            <img src="/img/logo.png" alt="logo" height="100px">
            <img src="/img/logoLPP.png" alt="logo" height="100px">
          </div>
        </div>
        <div class="col-6  d-flex justify-content-center flex-column   align-items-center">
          <Strong class="text-center ">LPP consecionaria de autos</Strong>
        </div>
        <div class="col-12 col-xl-4   p-1 m-0  d-flex" style="height: 100px;">
          <div class="col p-1 m-0  border border-dark">
            <p>Presupuesto reparacion:</p>
            <hr class=" m-0 bg-dark">
            <p>NO <%=data.codDR%>
            </p>
          </div>
          <div class="col p-1 m-0 border border-dark">
            <p>Refiere al auto:</p>
            <hr class="m-0 bg-dark">
            <p>NO <%= data.codA %>
            </p>
          </div>
        </div>
      </div>

      <div class="row   ">
        <h4 class="col-12 justify-content-center text-center border border-dark  text-center">
          DATOS DE LA REPARACIÓN DEL AUTOMÓVIL DENTRO DE LA GARANTÍA
        </h4> <br>
        <div class="col-12  col-sm-10 col-xl-11 py-2 ">

          <strong>Fecha de reparacion:</strong> <span>
            <%=data.fechaHoy%>
          </span>
          <br>
          <strong>Fecha maxima de entrega del automovil reparado:</strong> <span>
            <%= data.fechaMax %>
          </span>
          <br>
          <strong>Monto total: $</strong> <span>
            <%=data.monto%> (No incluye IVA)
          </span>

          <p>Son: <span>
              <%=data.montoLetras%>
            </span></p>
        </div>
      </div>


      <div class="row ">
        <div class="col col-xl-11 py-2 text-center">
          <p>El presupuesto de Reparación <span>
              <%=data.codDR%>
            </span> corresponde al automóvil <span>
              <%=data.lblAuto%>
            </span><br> cuyo
            propetario es el cliente <span>
              <%=data.lblCliente%>
            </span><br>
            (documento: <span>
              <%= data.lblDoc%>
            </span>)</p>
        </div>
      </div>
      <div class="row   border-dark border-danger  ">
        <h4 class="col-12 justify-content-center text-center  border border-dark">Detalle de las Reparaciones
          Individuales Incluidas</h4>

        <% for (let i=0; i < data.reparaciones.length; i++) { %>
          <div class="col-6  border border-dark  text-center" style="height: 50px;">
            <%=data.reparaciones[i].nombre%>
          </div>
          <% } %>
      </div>
    </div>

  </div>

  <div style="text-align: center;">
    <button id="printButton" class="btn btn-danger">Imprimir o Descargar</button>
    <a id="finalizar" href="/c2" class="btn btn-danger">Finalizar Operacion</a>
  </div>
  <script>
    // Función para imprimir o descargar el contenido al hacer clic en el botón
    function printOrDownload() {
      window.print();
    }

    // Asigna el evento de clic al botón
    document.getElementById('printButton').addEventListener('click', printOrDownload);
  </script>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>