<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LLP</title>
  <link rel="shortcut icon" href="/icon.png" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Activa el dark mode-->
  <%- include('../../partials/head') %>
</head>

<body>

  <%- include('../../partials/navigation') %>

    <style>
      @media (min-width: 1000px) {
        .container {
          width: 80%;

        }
      }

      th {
        text-align: center;
      }

      td {
        text-align: center;
      }
    </style>
    <!-- Contenido principal -->
    <div class="container-fluid  h-75" style="background-image: url(/background.jpg); height: calc(100vh); padding: 40px; background-attachment: scroll;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;">

      <div class="row container mx-auto  pt-4 my-4 " style=" background-color: rgba(0, 0, 0, 0.603);">
        <div class="col-12 col-xl-6">
          <h3 class="text-center text-light">Accesorios Disponibles</h3>
          <table id="tabla-original" class="caja w-95 border border-light" style="height: 400px;">
            <tr style="background-color:white; color:black">
              <th>codACC</th>
              <th>Nombre</th>
              <th>PU</th>
              <th>Stock</th>
              <th>Accion</th>
            </tr>

            <% for (let i=0; i < accesorios.length; i++) { %>
              <tr id="fila-<%= i %>"
                onclick="addAcc('<%= accesorios[i].codACC%>', '<%=accesorios[i].nombre%>', '<%=accesorios[i].PU%>', '<%=accesorios[i].stock%>')">
                <td>
                  <%= accesorios[i].codACC %>
                </td>
                <td>
                  <%= accesorios[i].nombre %>
                </td>
                <td>
                  <%= accesorios[i].PU %>
                </td>
                <td>
                  <%= accesorios[i].stock %>
                </td>
                <td class="button-cell">
                  <button class="add-button">Añadir</button>
                </td>
              </tr>
              <% } %>
          </table>
        </div>

        <div class="col-12 col-xl-6">
          <h3 class="text-center text-light">Accesorios Seleccionados</h3>
          <table id="tabla-seleccionadas" class="caja w-95 border border-light" style="height: 400px;">
            <tr style="background-color:white; color:black">
              <th>codACC</th>
              <th>Nombre</th>
              <th>PU</th>
              <th>Cantidad</th>
              <th>Accion</th>
            </tr>
          </table>
        </div>

        <div class="col">
          <div class="row py-3  mx-auto d-flex justify-content-center  align-items-center">
            <div
              class=" text-light col-9   d-flex align-items-center justify-content-center pt-3  p-0 text-center  col-xl-3 border-bottom border-light  mx-3"
              style="height: 40px;">
              <p>Monto Actual: <span id="suma-precio-unitario">0</span></p>
            </div>
            <form id="formulario-accesorios" action="/c3/b1/generarPresupuesto" method="POST" required>
              <input type="hidden" id="datos-accesorios" name="datos-accesorios">
              <input type="hidden" id="codAuto" name="codA">
              <button type="submit" class="submit btn btn-danger col-9 mt-2 col-xl-2 mx-3">Generar Presupuesto</button>
            </form>
            <script>
              var codA = '<%= codA %>';
              document.getElementById('codAuto').value = codA;
            </script>
          </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="/js/c3/selecAccess.js"></script>
</body>

</html>