<!DOCTYPE html>
<html>

<head>
    <title>LPP Concesionaria de Autos</title>
    <link rel="stylesheet" href="/css/c1/generarFactura.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Activa el dark mode-->
    <%- include('../../partials/head') %>
</head>

<body>
    <%- include('../../partials/navigation') %>
        <% if (typeof msg !=='undefined' ) { %>
            <script>
                alert('<%= msg %>');
            </script>
            <% } %>

                <div class="container">
                    <div id="encabezado">
                        <h1 id="titulo">LPP Concesionaria de Autos</h1>
                        <img src="/img/logo.png" alt="logo" height="100px">
                        <img src="/img/logoLPP.png" alt="logo" height="100px">
                    </div>
                    <table id="factura">
                        <tr>
                            <th>Factura</th>
                            <th>Responde a la orden de compra</th>
                        </tr>
                        <tr>
                            <td><b>Nro: <%=data.lblNroFactura%></b></td>
                            <td><b>Nro: <%=data.lblCodODC%></b></td>
                        </tr>
                    </table>
                    <table id="fecha">
                        <tr>
                            <th>Fecha</th>
                            <td id="dia">
                                <%=data.lblDay%>
                            </td>
                            <td id="mes">
                                <%=data.lblMes%>
                            </td>
                            <td id="anio">
                                <%=data.lblYear%>
                            </td>
                        </tr>
                    </table>
                    <table id="cliente">
                        <tr>
                            <th>Cliente</th>
                            <td>
                                <%=data.lblCliente%>
                            </td>
                        </tr>
                        <tr>
                            <th>Completa el pago del recibo</th>
                            <td>
                                <%=data.lblNroRecibo%>
                            </td>
                        </tr>
                        <tr>

                            <th>Dirección</th>
                            <td>
                                <%=data.lblDirec%>
                            </td>
                            <th>Pago Parcial (recibo)</th>
                            <td>
                                <%=data.lblImporteRecibo%>
                            </td>
                        </tr>
                    </table>
                    <table id="condiciones">
                        <tr>
                            <th>Condiciones de Venta</th>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </table>
                    <table id="producto">
                        <tr>
                            <th>Cantidad</th>
                            <th>Descripción del producto</th>
                            <th>Precio/Importe</th>
                        </tr>
                        <tr>
                            <td>
                                <%=data.lblCantidad%>
                            </td>
                            <td>
                                <%=data.lblAuto%>
                            </td>
                            <td>
                                <%=data.lblImporteTotal%>
                            </td>
                        </tr>
                    </table>
                    <table id="totales">
                        <tr>
                            <td class="espacio"></td>
                            <td class="espacio"></td>
                            <th>Sub Total ($)</th>
                            <td>
                                <%=data.lblImporteFactura%>
                            </td>
                        </tr>
                        <tr>
                            <td class="espacio"></td>
                            <td class="espacio"></td>
                            <td id="total-2">I.V.A Inscripto
                                <%=data.lblIVA%>%
                            </td>
                            <td>
                                <%=data.lblImporteIVA%>
                            </td>
                        </tr>
                        <tr>
                            <td class="espacio"></td>
                            <td class="espacio"></td>
                            <th>Total ($)</th>
                            <td>
                                <%=data.lblTOT%>
                            </td>
                        </tr>
                    </table>

                    <div style="text-align: center;">
                        <button id="printButton" class="btn-warning btn-lg btn">Imprimir o Descargar</button>
                        <a href="/c1" class="btn btn-success btn-lg ">Finalizar Operacion</a>
                    </div>
                    <script>
                        function printOrDownload() {
                            window.print();
                        }
                        document.getElementById('printButton').addEventListener('click', printOrDownload);
                    </script>
                </div>
                <!-- Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
</body>

</html>