<!DOCTYPE html>
<html>

<head>
    <title>LPP Concesionaria de Autos</title>
    <link rel="stylesheet" href="/css/c1/printDocPres.css">
</head>

<body>
    <div class="container">
        <div id="encabezado">
            <h1 id="titulo">LPP Concesionaria de Autos</h1>
            <img src="/img/logo.png" alt="logo" height="100px">
            <img src="/img/logoLPP.png" alt="logo" height="100px">
        </div>
        <table id="prestamo">
            <tr>
                <th class="espacio"></th>
                <th class="espacio"></th>
                <th>Préstamo Prendario</th>
            </tr>
            <tr>
                <th class="espacio"></th>
                <td class="espacio"></td>
                <td><b>NRO:</b>
                    <%=data.lblCodPRE%>
                </td>
            </tr>
        </table>
        <table id="cliente">
            <tr>
                <th>Orden de Compra</th>
                <td>
                    <%=data.lblNroOrdenCompra%>
                </td>
            </tr>
            <tr>
                <th>Cliente Deudor</th>
                <td>
                    <%=data.lblCliente%>
                </td>
            </tr>
            <tr>
                <th>Precio por cuota</th>
                <td>
                    $ <%=data.lblPrec%> (* intereses e IVA aplicables)
                </td>
            </tr>
            <tr>
                <th>Fecha Inicial</th>
                <td>
                    <%=data.lblFechaInicial%>
                </td>
            </tr>
            <table id="condiciones">
                <tr>
                    <th>Pagado: Si / No</th>
                </tr>
            </table>
        </table>
        <table id="cuotas">
            <tr>
                <th class="espacio"></th>
                <th class="espacio"></th>
                <th class="espacio"></th>
                <th>Cantidad de Cuotas</th>
            </tr>
            <tr>
                <th class="espacio"></th>
                <th class="espacio"></th>
                <th class="espacio"></th>
                <td>
                    <%=data.lblCant%>
                </td>
            </tr>
        </table>
    </div>
    <div class="botones" style="text-align: center;">
        <button id="printButton" class=" btn btn-danger btn-lg btn">Imprimir o Descargar</button>
        <a id="finalizar" href="/c1" class="btn btn-danger btn-lg btn">Finalizar Operacion</a>
    </div>
    <style>
        .btn-group-lg>.btn,
        .btn-lg {
            --bs-btn-padding-y: 0.5rem;
            --bs-btn-padding-x: 1rem;
            --bs-btn-font-size: 1.25rem;
            --bs-btn-border-radius: var(--bs-border-radius-lg);
        }

        .btn-danger {
            --bs-btn-color: #fff;
            --bs-btn-bg: #dc3545;
            --bs-btn-border-color: #dc3545;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #bb2d3b;
            --bs-btn-hover-border-color: #b02a37;
            --bs-btn-focus-shadow-rgb: 225, 83, 97;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #b02a37;
            --bs-btn-active-border-color: #a52834;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #dc3545;
            --bs-btn-disabled-border-color: #dc3545;
        }

        .btn {
            --bs-btn-padding-x: 0.75rem;
            --bs-btn-padding-y: 0.375rem;
            --bs-btn-font-family: ;
            --bs-btn-font-size: 1rem;
            --bs-btn-font-weight: 400;
            --bs-btn-line-height: 1.5;
            --bs-btn-color: var(--bs-body-color);
            --bs-btn-bg: transparent;
            --bs-btn-border-width: var(--bs-border-width);
            --bs-btn-border-color: transparent;
            --bs-btn-border-radius: var(--bs-border-radius);
            --bs-btn-hover-border-color: transparent;
            --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
            --bs-btn-disabled-opacity: 0.65;
            --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
            display: inline-block;
            padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
            font-family: var(--bs-btn-font-family);
            font-size: var(--bs-btn-font-size);
            font-weight: var(--bs-btn-font-weight);
            line-height: var(--bs-btn-line-height);
            color: var(--bs-btn-color);
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
            border-radius: var(--bs-btn-border-radius);
            background-color: var(--bs-btn-bg);
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        a {
            color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
            text-decoration: underline;
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box;
        }

        user agent stylesheet a:-webkit-any-link {
            color: -webkit-link;
            cursor: pointer;
            text-decoration: underline;
        }

        style attribute {
            text-align: center;
        }

        body {
            font-family: sans-serif !important;
            margin: 0;
            padding: 0;
        }

        body {
            background: #202020;
            color: white;
        }

        body {
            margin: 0;
            font-family: var(--bs-body-font-family);
            font-size: var(--bs-body-font-size);
            font-weight: var(--bs-body-font-weight);
            line-height: var(--bs-body-line-height);
            color: var(--bs-body-color);
            text-align: var(--bs-body-text-align);
            background-color: var(--bs-body-bg);
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        nav {
            display: none !important;
        }

        .botones {
            text-align: center;
            margin: auto !important;
        }

        #printButton,
        #finalizar {
            margin-bottom: 20px !important;
        }

        html {
            height: 100% !important;
        }

        body {
            display: flex !important;
            flex-direction: column !important;
            min-height: 100% !important;
        }

        #footer {
            margin-top: auto !important;
            background-color: rgba(33, 37, 41, 1) !important;
            padding: 40px;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
            text-align: center;
        }

        .input-group-text {
            width: 300px !important;
            margin: 70px auto 20px auto;
            border: 0;
            border-radius: 5px !important;
            background-color: #e0e0e0;
        }


        #principal-description {
            text-align: center !important;
            margin: 50px;
        }

        html,
        body {
            background: #e0e0e0;
            margin: 0 !important;
            padding: 0 !important;
        }



        body {
            font-family: sans-serif !important;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: black;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }

        .card {
            width: 25%;
            margin: 10px;
            border: 0;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            background: linear-gradient(to bottom, rgb(64, 64, 238), rgb(243, 33, 33));
        }



        .btn-danger {
            width: 300px;
            margin: 0 auto;
            border: 0;
            border-radius: 10px;
            padding: 20px;
            background-color: black;
            opacity: 1 !important;
            color: white;
        }

        .btn-danger:active {
            background-color: white !important;
            color: black !important;
        }

        .btn-danger:hover {
            background-color: white;
            color: black;
        }

        .btn-dark {
            font-size: 15px;
            color: white !important
        }

        button[class=btn-dark] {
            font-size: 16px !important;
        }

        /* Responsiveness */

        @media (max-width: 768px) {
            .row {
                flex-direction: column;
            }
        }

        @media (max-width: 576px) {
            .card {
                width: 100%;
            }
        }

        #printButton,
        #finalizar {
            margin-bottom: 20px !important;
        }
    </style>
    <script>


        function printOrDownload() {
            window.print();
        }
        document.getElementById('printButton').addEventListener('click', printOrDownload);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>