<!DOCTYPE html>
<html>

<head>
    <title>L.P.P Concesionario</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/c1/verifCliente.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Activa el Dark Mode-->
    <%- include('../../partials/head') %>
</head>

<body>
    <%- include('../../partials/navigation') %>
        <div class="container">
            <div class="margin">
                <% if (enable===false) { %>
                    <form class="survey-form" action="/c1/b1/verifCliente" method="POST" required>
                        <p id="principal-description">Carga los datos del cliente que solicita el auto:</p>
                        <p id="description">Información Personal</p>
                        <label for="nombre" id="nombre-label">Nombre</label>
                        <input type="text" id="nombre" name="nom" placeholder="Nombre del Cliente" required>
                        <label for="apellido" id="apellido-label">Apellido</label>
                        <input type="text" id="apellido" name="ape" placeholder="Apellido del Cliente" required>
                        <label for="tipo-documento" id="tipo-documento-label">Tipo de Documento</label>
                        <select id="tipo-documento" name="tdoc">
                            <option disable selected value>Elige una opción</option>
                            <option value="dni">DNI</option>
                            <option value="dni-extranjero">DNI Extranjero</option>
                        </select>
                        <label for="documento" id="documento-label" id="description">Número de Documento</label>
                        <input type="text" id="documento" name="ndoc" placeholder="Nro. Documento" required>
                        <input id="verifButton" type="submit" class="btn btn-danger" style="margin-top:1%"
                            value="Verificar Cliente">
                        <a id="backButton" href="/c1" class="btn btn-danger" style="margin-top:1%;"> Regresar
                        </a>
                    </form>

                    <% } %>

                        <% if (enable===true) { %>
                            <form class="survey-form" name="myForm" action="/c1/b1/ingresarCliente" method="POST">
                                <div class="form-container">
                                    <p id="principal-description">Carga los datos del cliente que solicita el auto:</p>
                                    <p id="description">Información Personal</p>

                                    <label for="nombre-label" id="nombre-label">Nombre</label>
                                    <input readonly type="text" id="nombre2" name="nom" value='<%= nom %>'>

                                    <label for="apellido-label" id="apellido-label">Apellido</label>
                                    <input readonly type="text" id="apellido2" name="ape" value='<%= ape %>'>

                                    <label for="tipo-documento-label" id="tipo-documento-label">Tipo de
                                        Documento</label>
                                    <input readonly type="text" id="tdoc2" name="tdoc" value='<%= tdoc %>'>

                                    <label for="documento-label" id="documento-label" id="description">Número de
                                        Documento</label>
                                    <input readonly type="text" id="ndoc2" name="ndoc" value='<%= ndoc %>'>
                                </div>


                                <div class="form-container">
                                    <p id="description">Información de Contacto</p>
                                    <label for="direccion-label" id="direccion-label">Dirección</label>
                                    <input type="text" id="direccion" placeholder="Dirección" name="direc" required>
                                    <label for="telefono-label" id="telefono-label">Teléfono</label>
                                    <input type="text" id="telefono" placeholder="Teléfono" name="tel" required>
                                    <label for="email-label" id="email-label">Email</label>
                                    <input type="email" id="email" placeholder="Email" name="mail" required>
                                    <p id="requisitos">El cliente cumple con los requisitos del mercado:</p>
                                    <div id="div-requisitos" name="requisitos">
                                        <label>
                                            <input type="radio" value="si" name="grupo">
                                            Si
                                        </label>
                                        <label>
                                            <input type="radio" value="no" name="grupo">
                                            No
                                        </label>
                                    </div>
                                    <input id="continueB2Button" type="submit" class="btn btn-danger"
                                        style="margin-top:1%" value="Ingresar Cliente">
                                    <a id="backButton" href="/c1" class="btn btn-danger" style="margin-top:1%"> Regresar
                                    </a>
                                </div>
                            </form>
                            <% } %>
            </div>

        </div>
        <footer id="footer">
            <p class="footer-text">LPP Concesionario</p>
            <p class="footer-text">&copy; 2023 Todos los derechos reservados</p>
        </footer>
        <style>
            html {
                height: 100% !important;
            }

            body {
                display: flex !important;
                flex-direction: column !important;
                min-height: 100% !important;

            }

            #footer {
                background-color: rgba(33, 37, 41, 1) !important;
                padding: 40px auto !important;
                text-align: center;
                font-family: sans-serif !important;
                text-align: center !important;
                background-color: rgba(33, 37, 41, 1);
                color: white;
                margin-top: auto !important;
            }

            .survey-form {
                display: block !important;
                margin: 50px auto 70px !important;
                font-family: sans-serif !important;
                color: white !important;
                background: linear-gradient(rgb(0, 0, 0), rgb(243, 33, 33)) !important;
                opacity: 1 !important;
                border-radius: 20px;
                border: 0;
                height: 100% !important;

            }

            input[type="text"],
            input[type="email"] {
                margin-top: -5px !important;
                display: block;
                width: 200px !important;
                margin: 0 auto 30px !important;
                border: 0;
                height: 25px;
                border-radius: 5px !important;
                text-align: center !important;
            }

            select[id="tipo-documento"] {
                width: 200px !important;
                margin-top: -5px !important;
                display: block;
                margin: 0 auto 30px !important;
                border: 0;
                height: 25px;
                border-radius: 5px !important;
                text-align: center !important;
            }


            .navbar {
                z-index: 100;
            }

            #principal-description {
                color: white !important;
                text-align: center !important;
                margin: 20px;
                font-family: sans-serif !important;
            }

            label,
            #description {
                color: white !important;
                font-family: sans-serif !important;
            }


            html {
                width: 100% !important;
            }

            body {
                font-family: sans-serif !important;
                background: linear-gradient(#e0e0e0, gray, #f0f0f0);
                margin: 0 !important;
                padding: 0 !important;
                position: relative !important;
            }

            h1 {
                color: black;
                font-weight: bold;
                text-align: center;
                font-size: 30px;
                margin-top: 20px;
                font-family: sans-serif !important;
            }

            .container-fluid {
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
            }

            .container-fluid {
                width: 100% !important;
            }

            .btn-danger {
                width: 300px;
                margin: 0 auto;
                border: 0;
                border-radius: 10px;
                padding: 20px;
                opacity: 1 !important;
                background-color: black !important;
                color: white;
                font-size: 18px;
            }


            .btn-danger:hover {
                background-color: white !important;
                color: black !important;
            }

            .btn-danger:active {
                background-color: white !important;
                color: black !important;
            }

            .btn-dark {
                font-size: 15px !important;
                color: white !important
            }

            button[class=btn-dark] {
                background-color: black !important;
                font-size: 16px !important;
            }

            /* Responsiveness */
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>